@import "./mixins";

/*
  In order to create the derivative colors of the main colors,
  which are based on a main color with different opacities set,
  we need the individual RGB values of the main color. And in 
  order to have a single source of truth of each color, we need
  to employ SASS variables, to overcome the preprocessor and
  native barrier. The SASS variables should NOT be used outside
  of this file, and the file itself should only be imported to
  the main index.scss stylesheet.
*/

:root {
  // Primary brand colors
  $color-primary-yellow: rgb(255, 199, 0);

  --color-primary-yellow: #{$color-primary-yellow};
  --color-brand-primary: var(--color-primary-yellow);

  $color-primary-black: rgb(38, 38, 38);
  --color-primary-dark: #{$color-primary-black};

  $color-primary-lightgrey: rgb(245, 245, 245);
  --color-primary-light: #{$color-primary-lightgrey};

  --color-primary-white: #ffffff;

  // Primary Fills
  $color-primary-fill-1: #262626;

  --color-primary-fill-1: #{$color-primary-fill-1};
  --color-primary-fill-1--rgb: #{hexToRGB($color-primary-fill-1)};
  --color-primary-fill-2: rgba(var(--color-primary-fill-1--rgb), 0.75);
  --color-primary-fill-3: rgba(var(--color-primary-fill-1--rgb), 0.55);
  --color-primary-fill-separator: rgba(var(--color-primary-fill-1--rgb), 0.15);

  // Primary Base
  $color-primary-base-1: #f5f4f4;
  $color-primary-base-2: #ffffff;

  --color-primary-base-1: #{$color-primary-base-1};
  --color-primary-base-2: #{$color-primary-base-2};
  --color-primary-base-2--rgb: #{hexToRGB($color-primary-base-2)};

  // Negative Fills
  --color-negative-fill-1: #{$color-primary-base-2};
  --color-negative-fill-1--rgb: #{hexToRGB($color-primary-base-2)};
  --color-negative-fill-2: rgba(var(--color-negative-fill-1--rgb), 0.75);
  --color-negative-fill-3: rgba(var(--color-negative-fill-1--rgb), 0.5);
  --color-negative-fill-separator: rgba(
    var(--color-negative-fill-1--rgb),
    0.15
  );

  // ----
}
