@use "sass:math";
@import "mixins/__mixins.all";

/*
    PX to EM or REM converter mixin. Please just use the
    pxToRem and pxToEm functions, and not the pxToRemOrRem.
    They can take multiple values, if need be. Useful for
    example when setting a padding short hand, like so:
    padding: pxToRem(10 5 15 15);
*/
$baseFont: 16;

@function pxToRemOrEm($pxValues, $unit: rem) {
  $remValues: null;

  @each $pxValue in $pxValues {
    $remValues: append($remValues, math.div($pxValue, $baseFont) + $unit);
  }

  @return $remValues;
}

@function pxToRem($pxValues) {
  @return pxToRemOrEm($pxValues, rem);
}

@function pxToEm($pxValues) {
  @return pxToRemOrEm($pxValues, em);
}

/*
  Convert HEX colors to RBG. Useful when there is a need
  for using CSS variables and the native CSS RGBA function.
*/
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

/*
  Font family mixins in order to make font swapping easier in
  the future. Usually we would only set the font family in a
  Typography component. However, since we have multiple font
  families, and some atoms require different fonts. Therefore,
  in order to have the actual font family only be set in a
  single place.
*/
@mixin font-primary {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@mixin font-secondary {
  font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

@mixin font-tertiary {
  font-family: "Oterra Hand Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
