/*
    Mixin for media queries and breakpoints.
    Preferably follow mobile-first, and only use the max breakpoints if necessary
    The mixin can be used like this:
    @include media("tablet-landscape") {
        width: 50%;
    }
*/

$screen-mobile-landscape: 576px;
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 995px;
$screen-desktop-small: 1200px;
$screen-desktop-medium: 1440px;
$screen-desktop-large: 1920px;

// Max widths
$screen-desktop-max-width: $screen-desktop-small; // $screen-desktop-large;

$breakpoints: (
  "mobile-portrait-max": (
    max-width: $screen-mobile-landscape - 1px,
  ),
  "mobile-landscape": (
    min-width: $screen-mobile-landscape,
  ),
  "mobile-landscape-max": (
    max-width: $screen-tablet-portrait - 1px,
  ),
  "tablet-portrait": (
    min-width: $screen-tablet-portrait,
  ),
  "tablet-portrait-max": (
    max-width: $screen-tablet-landscape - 1px,
  ),
  "tablet-landscape": (
    min-width: $screen-tablet-landscape,
  ),
  "tablet-landscape-max": (
    max-width: $screen-desktop-small - 1px,
  ),
  "desktop-small": (
    min-width: $screen-desktop-small,
  ),
  "desktop-medium": (
    min-width: $screen-desktop-medium,
  ),
  "desktop-large": (
    min-width: $screen-desktop-large,
  ),
  "desktop-height-small": (
    min-height: $screen-desktop-small,
  ),
);

$orientations: (
  "landscape": (
    orientation: landscape,
  ),
);

@mixin media($breakpoint, $orientation: "") {
  @if map-has-key($map: $orientations, $key: $orientation) {
    $orientation: and #{inspect(map-get($orientations, $orientation))};
  }
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint)) $orientation} {
      @content;
    }
  } @else {
    @warn "The specified breakpoint `#{$breakpoint}` does not exits. Available breakpoints are: #{map-keys($breakpoints)}";
  }
}

/* ============================
  Specific breakpoints 
  ============================= */

$menuBreakpoint: "desktop-small";

@mixin mix-break-mobile-down() {
  @include media("tablet-portrait-max") {
    @content;
  }
}

@mixin mix-break-tablet() {
  @include media("tablet-portrait") {
    @content;
  }
}
@mixin mix-break-tablet-landscape() {
  @include media("tablet-landscape") {
    @content;
  }
}

@mixin mix-break-tablet-only() {
  @media screen and (min-width: $screen-tablet-portrait) and (max-width: menuBreakpoint) {
    @content;
  }
}

@mixin mix-break-desktop() {
  @include media($menuBreakpoint) {
    @content;
  }
}
